@import '../../styles/variables';

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  .animation {
    width: 70%;
    @media (min-width: $desktop) {
      width: 40%;
    }
  }
}

