@import '../../styles/variables';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  //margin: 2rem 0;
  padding: 2rem;
  align-items: center;
  text-align: center;
  p {
    font-weight: bold;
  }
  .some {
    padding: 0.7rem;
  }
}
