@import '../../styles/variables';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  align-items: center;
  text-align: center;
  @media (min-width: $desktop) {
    padding-right: 2rem;
  }
  p {
    font-weight: bold;
  }
  .some {
    padding: 0.7rem;
  }
}
