@import './styles/variables';

.animation {
  position: absolute;
  z-index: -1;
  width: 100%;
  @media (min-width: $desktop) {
    width: 60%;
  }
}

.hero {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 7rem;
  @media (min-width: $desktop) {
    flex-direction: column;
    padding-top: 6rem;
  }
  .container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    .h1blue {
      color: $blue;
    }
    .box1 {
      padding: 0 2rem;
      @media (min-width: $desktop) {
        width: 90%;
        padding: 0 4rem;
        text-align: left;
        h1 {
          font-size: 70px;
          //margin-bottom: 1.5rem;
        }
      }
      .hideMobile {
        @media (max-width: $desktop) {
          display: none;
          padding: 0;
        }
      }
      .imageMobile {
        display: flex;
        @media (min-width: $desktop) {
          display: none;
        }
      }
    }
    .box2 {
      // Hide on mobile
      display: none;
      @media (min-width: $desktop) {
        padding-right: 4rem;
        display: flex;
      }
    }
  }
  .centered {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    .animationArrow {
      height: 3rem;
    }
  }
}
.mobile {
  padding-left: 2rem;
  h6 {
    margin-bottom: 0;
  }
  .underButtonLink {
    width: 40%;
    padding-top: 1rem;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}
