@import '../../styles/variables';

.hideSmall {
  display: none;
  @media (min-width: $desktop) {
    display: inherit;
  }
}

.hideLarge {
  @media (min-width: $desktop) {
    display: none;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $desktop) {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
    margin-bottom: 4rem;
  }
  .textContainer {
    background: $lightBlue;
    padding: 2rem;
    color: white;
    @media (min-width: $desktop) {
      width: 50%;
    }
    .center {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2rem 0;
    }
  }
  .Subscription {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    //background-color: $blueBackground;
    padding-top: 4rem;
    .animation {
      position: absolute;
      width: 100%;
      transform: rotate(90deg);
    }
    h2 {
      padding: 0 0 2rem 0;
    }
    @media (min-width: $desktop) {
      flex-direction: row;
    }
  }
}
