@import '../../styles/variables';

.hideSmall {
  display: none;
  @media (min-width: $desktop) {
    display: inherit;
  }
}

.hideLarge {
  @media (min-width: $desktop) {
    display: none;
  }
}

.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    // padding: 2rem;
    @media (min-width: $desktop) {
      // padding: 5rem 0;
      padding: 3rem;
    }
    .content2 {
      display: flex;
      flex-direction: column;
      @media (min-width: $desktop) {
        flex-direction: row;
        align-content: space-between;
      }
      .customerContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        // background: rgb(1, 1, 220);
        // color: white;
  
        //justify-content: center;
        //align-items: center;
        @media (min-width: $desktop) {
          // padding: 0 2rem 0 4rem;
          margin-left: 2rem;
        }
        h2 {
          text-align: center;
          color: #205fe8;
        }
        @media (min-width: $desktop) {
          padding-left: 4rem;
        }
      }
    }
  }