@import '/styles/variables';

.container404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 2rem;
  h1 {
      padding: 0;
      margin: 0;
    }
    h3 {
      padding: .5rem 0 4rem 0;
      margin: 0;
  }
  .mobile {
    @media (min-width: $desktop) {
      display: none;
    }
  }
  .desktop {
    @media (max-width: $desktop) {
      display: none;
    }
  }
}
