
$purpleBackground: #f3f0fd;

$blueBackground: #f2f7ff;
$solidBlueBackground: #2162f0;
$solidBlueBackground: #205fe8;
$solidBlueBackground: #1a52c9;

$blue: #2162f0;
$lightBlue: #74a2ff;
$darkBlue: #205fe8;
$orange: #F8B943;

$desktop: 900px;
