@import './variables';

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 2rem;
  @media (min-width: $desktop) {
    flex-direction: row;
    justify-content: center;
    padding-top: 3rem;
  }
  .aboutContainer {
    @media (min-width: $desktop) {
      max-width: 75%;
      display: flex;
      flex-direction: row;
      padding: 2rem;
    }
    .about {
      display: flex;
      flex-direction: column;

      p {
        font-weight: bold;
        line-height: 15px;
        font-size: 13px;
        @media (min-width: $desktop) {
          font-size: 15px;
        }
      }
      h4 {
        font-size: 0.7rem;
        font-weight: normal;
        line-height: 18px;
        margin: 0;
        padding: 0;
      }
    }
    .bild {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 1rem;

      @media (min-width: $desktop) {
        padding-top: 2rem;
      }
    }
    .some {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
      padding: 0 1rem;
      @media (min-width: $desktop) {
        justify-content: space-between;
      }
      .paddingTop {
        padding-top: 1rem;
      }
    }
    .textContainer {
      padding: 2rem;
      @media (min-width: $desktop) {
        width: 65%;
        padding: 0 2rem 2rem 2rem;
      }

      p {
        @media (min-width: $desktop) {
          text-align: left;
        }
      }
    }
  }
}
