@import './variables';

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $blueBackground;
  padding: 0 3rem 2rem 3rem;
  .content {
    @media (min-width: $desktop) {
      display: flex;
      flex-direction: row;
    }
    .customerDiv {
      @media (min-width: $desktop) {
        width: 50%;
      }
    }
    .branscherDiv {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      @media (min-width: $desktop) {
        padding-left: 2rem;
        width: 50%;
      }
      .branschList {
        padding: 0 0 2rem 0;
        .listItem {
          display: flex;
          align-items: center;
        }
        p {
          margin: 0;
        }
      }
    }
  }
}
