@import './variables';

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $blueBackground;
  padding: 0 3rem;
  @media (min-width: $desktop) {
    flex-direction: row;
  }
  .customerDiv {
    width: 80%;
    @media (min-width: $desktop) {
      width: 50%;
    }
  }
  .branscherDiv {
    width: 80%;
    text-align: center;
    @media (min-width: $desktop) {
      width: 50%;
    }
  }
}
