@import './variables';

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2rem 0;
  align-items: center;
  .imageDiv {
    margin: 0 1rem;
  }
  .commentDiv {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @media (min-width: $desktop) {
      max-width: 70%;
    }
    .quote {
      font-size: 20px;
      font-weight: bold;
      font-family:Georgia, 'Times New Roman', Times, serif;
    }
    i {
      margin: 0 1rem;
    }
    p {
        margin: .5rem 0 0 1rem;
        font-weight: bold;
    }
  }
  .commentDivReverse {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @media (min-width: $desktop) {
      max-width: 70%;
    }
    .quote {
      font-size: 20px;
      font-weight: bold;
      font-family:Georgia, 'Times New Roman', Times, serif;
    }
    i {
      margin: 0 1rem;
    }
    p {
        margin: .5rem 0 0 1rem;
        font-weight: bold;
    }
  }
}
