@import './variables';

.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  //align-items: center;
  //text-align: center;
  justify-content: center;
  //background: rgb(241, 228, 255);
  //background: $blueBackground;
  @media (min-width: $desktop) {
    flex-direction: column;
  }
  .container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    h1 {
      font-size: 36px;
    }
    .h1blue {
      color: #2162f0;
    }
    .box1 {
      padding: 0 2rem;
      @media (min-width: $desktop) {
        width: 90%;
        padding: 0 4rem;
        text-align: left;
        h1 {
          font-size: 70px;
        }
      }
      .hideMobile {
        @media (max-width: $desktop) {
          display: none;
        }
      }
      .imageMobile {
        display: flex;
        @media (min-width: $desktop) {
          display: none;
        }
      }
    }
    .box2 {
      // Hide on mobile
      display: none;
      @media (min-width: $desktop) {
        padding-right: 4rem;
        display: flex;
      }
    }
  }
}
.mobile {
  //display: flex;
  //justify-content: center;
  //align-items: center;
  //flex-direction: column;
  //width: 100%;
  padding-left: 2rem;
  //padding-top: 1rem;

  .underButtonLink {
    width: 40%;
    padding-top: 1rem;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}
// HÄR KAN MAN MANIPULERA KNAPP LITE!!!!!

// button {
//   width: 20%;
//   height: 2.5rem;
//   transition: width .2s;
//   &:hover {
//     width: 21%;
//     background-color: #724ed6;
//   }
// }

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  //background: chartreuse;
}

// .buttonStyle {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background: #5a2cdd;
//   color: white;
//   height: 2rem;
//   width: 8rem;
//   border: none;
//   border-radius: 4px;
//   font-weight: bold;
//   font-size: 0.7rem;
//   letter-spacing: 0.05rem;
//   @media (min-width: 900px) {
//     display: none;
//   }
// }
