@import './variables';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem 0;
  @media (min-width: $desktop) {
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin: 7rem 0;
  }
  .textContainer {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7b943;
    @media (min-width: $desktop) {
      padding: 2rem 2rem 4rem 2rem;
      //margin-right: 5rem;
      margin: 0 5rem;
    }
  }
  .cardContainer {
    display: flex;
    flex-direction: column;
    @media (min-width: $desktop) {
      min-width: 45%;
      flex-direction: row;
      justify-content: space-evenly;
      // padding-left: 5rem;
    }
    p {
      font-weight: bold;
      line-height: 15px;
      font-size: 13px;
      @media (min-width: $desktop) {
        font-size: 15px;
      }
    }
    h4 {
      font-size: 0.7rem;
      font-weight: normal;
      line-height: 18px;
      margin: 0;
      padding: 0;
    }
  }
}
