@import './variables';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $desktop) {
    flex-direction: row;
    padding: 3rem;
  }
}
.textContainer {
  background: rgb(1, 1, 220);
  padding: 3rem;
  color: white;
  height: 30rem;
  //justify-content: center;
  //align-items: center;
  @media (min-width: $desktop) {
    margin-right: 2rem;
  }
}

.hideSmall {
  display: none;
  @media (min-width: $desktop) {
    display: inherit;
  }
}

.hideLarge {
  @media (min-width: $desktop) {
    display: none;
  }
}

//section2

.Subscription {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
  //background-color: $blueBackground;
  padding-top: 4rem;
  .animation {
    position: absolute;
    width: 100%;
    transform: rotate(90deg);
  }
  h2 {
    padding: 0 0 2rem 0;
  }
  @media (min-width: $desktop) {
    flex-direction: row;
  }
}

//section3
.container3 {
  text-align: center;
  h3 {
    margin: 0;
  }
}
.branscherContent {
  display: flex;;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // text-align: center;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem 0.3rem #dddddd;
  padding: 1rem;
  min-width: 70%;
  .branschList {
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2rem;
    // padding: 1rem 5rem;
    // text-align: left;
    p {
      margin: 0.7rem 0;
      color: white;
      span {
        background-color: #205fe8;
        padding: 0.4rem;
      }
    }
  }
  i {
    font-size: 10px;
    margin: 1.5rem 0 0 0;
  }
  @media (min-width: $desktop) {
    display: none;
  }
}

// SubscriptionDesktop
.subscriptionWrapper {
  display: none;
  @media (min-width: $desktop) {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f0fd;
    padding: 2rem 0;
    h2 {
      margin: 0 0 1rem 0;
    }
    h3 {
      margin: 0.5rem 0 3rem 0;
    }
    i {
      font-size: 1rem;
    }
  }
}
