@import './variables';

.hideSmall {
  display: none;
  @media (min-width: $desktop) {
    display: inherit;
  }
}

.hideLarge {
  @media (min-width: $desktop) {
    display: none;
  }
}

//section1
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
  @media (min-width: $desktop) {
    padding: 5rem 0;
  }
  .content {
    display: flex;
    flex-direction: column;
    @media (min-width: $desktop) {
      flex-direction: row;
      align-content: space-between;
    }
    .customerContent {
      @media (min-width: $desktop) {
        width: 50%;
      }
    }
    .branscherContent {
      @media (min-width: $desktop) {
        flex-direction: column;
        align-items: center;
        width: 50%;
        //text-align: center;
        .branschList {
          padding: 0 0 2rem 0;
          .listItem {
            display: flex;
            align-items: center;
          }
          p {
            margin: 0;
          }
        }
      }
    }
  }
}

//section2
.container2 {
  width: 100%;
  justify-content: center;
  margin: 3rem 0;
  .bookMeetingContent {
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: $purpleBackground;
    margin: 0 1rem;
  }
  @media (min-width: $desktop) {
    display: none;
  }
}

.SubscriptionCardDesktop {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: $blueBackground;
  padding: 5rem 0 0 0;
  @media (max-width: $desktop) {
    display: none;
  }
}

//section3
.container3 {
  text-align: center;
  h3 {
    margin: 0;
  }
}

.buttonDiv {
  margin: 2rem 0 0 0;
  display: flex;
  justify-content: center;
}

.listItem {
  display: flex;
  align-items: center;
}

// SubscriptionDesktop
.subscriptionWrapper {
  display: none;
  @media (min-width: $desktop) {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f0fd;
    padding: 2rem 0;
    h2 {
      margin: 0 0 1rem 0;
    }
    h3 {
      margin: 0.5rem 0 3rem 0;
    }
    i {
      font-size: 1rem;
    }
  }
}
