@import './variables';

.hideSmall {
  display: none;
  @media (min-width: $desktop) {
    display: inherit;
  }
}

.hideLarge {
  @media (min-width: $desktop) {
    display: none;
  }
}

//section1
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  .content {
    display: flex;
    flex-direction: column;
    @media (min-width: $desktop) {
      flex-direction: row;
      align-content: space-between;
    }
    .customerContent {
      @media (min-width: $desktop) {
        width: 50%;
      }
    }
    .branscherContent {
      @media (min-width: $desktop) {
        flex-direction: column;
        width: 50%;
        text-align: center;
        p {
          margin: 0;
        }
      }
    }
  }
}

//section2
.container2 {
  width: 100%;
  justify-content: center;
  margin: 3rem 0;
  .bookMeetingContent {
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fce8fa;
    margin: 0 1rem;
    // button {
    //   background-color: black;
    //   color: white;
    //   height: 2rem;
    //   width: 40%;
    //   margin: 1rem 0;
    // }
  }
}

//section3
.container3 {
  text-align: center;
  h3 {
    margin: 0;
  }
}

// section5
.container5 {
  width: 100vw;
  background-color: #f3f0fd;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    margin: 0;
  }
  h3 {
    margin: .5rem 0;
  }
  .gridContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 4rem 0;
    .gridContent {
      display: flex;
      padding-left: 0.5rem;
      .gridText {
        padding-left: 1rem;
        h3 {
          margin: 0;
        }
      }
    }
  }
  i {
    font-size: 1rem;
  }
}
